:root {
   --bd-around: 15px ridge rgba(161, 161, 161, 0.5);
   --bd-cell: 15px ridge rgba(75, 75, 75, 0.5);
   --cell-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

body {
   display: grid;
   grid-template-rows: 20% 70% 10%;
   grid-template-columns: 15% 70% 15%;
   grid-template-areas:  
        ". header ." 
        ". main ." 
        ". . .";
   justify-items: center;
   background-color:#191b1d;
   width: 100vw;
   height: 100vh;
   font-family: 'Syncopate', sans-serif;
   color:rgb(249, 227, 60);
}

header { 
    grid-area: header;
    justify-self: center;
    align-self: center;
}

header>h1 {
    text-align: center;
    color: rgb(249, 227, 60);
    text-shadow: 3px 3px 5px rgb(116, 83, 0);
    letter-spacing: 7px;
    font-size: 60px;
    font-weight: 600;
}

#stats {
   grid-area: main;
   justify-self: stretch;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

#messages{ 
   grid-area: main;
   align-self: end;
   justify-self: center;
}

main {
    grid-area: main;
    aspect-ratio: 1;
    display: grid;
    grid-template: repeat(8, 12.5%) / repeat(8, 12.5%);
 }

 #simon-wrapper {
   grid-column: 2 / 8;
   grid-row: 2 / 8;
   justify-content: stretch;
   border: 50px ridge rgba(26, 26, 26, 0.291);
   border-radius: 70%;
   background-color:#000000af;
 }

 #play { 
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    color:rgb(249, 227, 60);
    font-size: large;
    background-color: black;
    border-radius: 50%;
    border: var(--bd-cell);
    box-shadow: var(--cell-shadow);
    z-index: 10;
    font-family: 'Syncopate', sans-serif;
 }
 
 .color-button {
   border: var(--bd-around);
   border-top: var(--bd-cell);
   border-left: var(--bd-cell);
   box-shadow: var(--cell-shadow); 
   transition: all .10s ease;
   z-index: 8;
   filter: brightness(40%);
 }

 #red { 
    grid-column: 2 / span 3;
    grid-row: 2 /span 3;
    background-color: darkred;
    border-radius: 320px 20px 20px 20px;  
 }

 #blue { 
   grid-column: 5 / span 3;
   grid-row: 2 /span 3;
   background-color: darkblue;
   border-radius: 20px 320px 20px 20px;
}

 #green { 
    grid-column: 5 / span 3;
    grid-row: 5 /span 3;
    background-color: darkgreen;
    border-radius: 20px 20px 320px 20px;
 }

 #yellow { 
    grid-column: 2 / span 3;
    grid-row: 5 /span 3;
    background-color: rgb(144, 144, 23);
    border-radius: 20px 20px 20px 320px;
 }

.playing {
   filter: brightness(90%);
   transform: scale(1.1);
   z-index: 9;
}

.gameover {
   filter: brightness(10%);
   transform: scale(0.8);
   z-index: 9;
}

#play:disabled {
   color: grey;
}