/* CSS Variables */
:root {
   --bd-around: 15px ridge rgba(161, 161, 161, 0.5);
   --bd-cell: 15px ridge rgba(75, 75, 75, 0.5);
   --cell-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   --font: 'Syncopate', sans-serif;
}

/* Body Styles */
body {
   display: grid;
   grid-template-rows: 20% 60% 15% 5%;
   grid-template-columns: 15% 70% 15%;
   grid-template-areas:
      ". header ."
      ". main ."
      ". messages ."
      ". footer .";
   justify-items: center;
   background-color: #191b1d;
   width: 100%;
   height: 100vh;
   font-family: var(--font);
   font-weight: 700;
   color: rgb(249, 227, 60);
}

/* Header Styles */
#heading {
   grid-area: header;
   justify-self: center;
   align-self: center;
   animation-name: heading-animation;
   animation-duration: 5s;
}

#heading>h1 {
   text-align: center;
   color: rgb(249, 227, 60);
   text-shadow: 4px 4px 6px rgb(179, 131, 11);
   letter-spacing: 10px;
   font-size: 50px;
   font-weight: 700;
}

/* Enter Screen Styles */
#enter-screen {
   grid-area: main;
   border: 2px outset rgb(249, 227, 60);
   justify-self: stretch;
   align-self: stretch;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#enter-screen>p {
   margin: 3% 10%;
}

#input-name {
   font-size: small;
   font-weight: 400;
   margin: 0 10%;
}

#name {
   color: rgb(249, 227, 60);
   background-color: black;
   width: fit-content;
   font-size: medium;
   margin: 2%;
   padding: 2%;
   font-family: var(--font);
   text-align: center;
}

#enter {
   font-family: var(--font);
   color: rgb(249, 227, 60);
   font-size: large;
   background-color: black;
   font-weight: 700;
   text-align: center;
   display: block;
   width: fit-content;
   margin: 2%;
   padding: 1%;
   justify-self: flex-end;
}

/* Stats Element Styles */
#stats {
   grid-area: main;
   justify-self: stretch;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

#messages {
   grid-area: messages;
   align-self: start;
   justify-self: center;
   text-align: center;
   font-weight: 400;
   font-size: 70%;
}

/* Simon/Play Screen Styles */
#simon {
   grid-area: main;
   aspect-ratio: 1;
   display: grid;
   grid-template: repeat(8, 12.5%) / repeat(8, 12.5%);
}

#play {
   grid-column: 4 / span 2;
   grid-row: 4 / span 2;
   color: rgb(249, 227, 60);
   background-color: black;
   border-radius: 50%;
   border: var(--bd-cell);
   box-shadow: var(--cell-shadow);
   z-index: 10;
   font-family: 'Syncopate', sans-serif;
   font-weight: 700;
   /* font-size: ; */
}

.color-button {
   border: var(--bd-around);
   border-top: var(--bd-cell);
   border-left: var(--bd-cell);
   box-shadow: var(--cell-shadow);
   transition: all .10s ease;
   z-index: 8;
   filter: brightness(40%);
}

#red {
   grid-column: 2 / span 3;
   grid-row: 2 /span 3;
   background-color: darkred;
   border-radius: 320px 20px 20px 20px;
}

#blue {
   grid-column: 5 / span 3;
   grid-row: 2 /span 3;
   background-color: darkblue;
   border-radius: 20px 320px 20px 20px;
}

#green {
   grid-column: 5 / span 3;
   grid-row: 5 /span 3;
   background-color: darkgreen;
   border-radius: 20px 20px 320px 20px;
}

#yellow {
   grid-column: 2 / span 3;
   grid-row: 5 /span 3;
   background-color: rgb(144, 144, 23);
   border-radius: 20px 20px 20px 320px;
}

/* Exit Screen Styles */

#highscores {
   grid-area: main;
   border: 2px outset rgb(249, 227, 60);
   justify-self: stretch;
   align-self: stretch;
   text-align: center;
}

#highscores>h2 {
   margin: 2%
}

#reentry,
#home {
   font-family: var(--font);
   color: rgb(249, 227, 60);
   font-size: large;
   background-color: black;
   font-weight: 700;
   text-align: center;
   display: block;
   width: fit-content;
   margin: 2%;
   padding: 1%;
   justify-self: flex-end;
   display: inline-block;
}

#highscores-list {
   list-style: none;
   letter-spacing: 2px;
   margin: 2%;
}

#highscores-list>li {
   margin: 1%
}


/* Footer Styles */
footer {
   font-family: Arial, Helvetica, sans-serif;
   grid-area: footer;
   align-self: end;
   justify-self: center;
   color: rgb(107, 112, 88);
   font-size: 20%;
   font-weight: 100;
}

footer>a {
   color: rgb(157, 158, 112);
   text-decoration: none;
}


/* Optional Classes */
.playing {
   filter: brightness(95%);
   transform: scale(1.2);
   z-index: 9;
}

.gameover {
   filter: brightness(10%);
   transform: scale(0.75);
   z-index: 9;
}

#play:disabled {
   color: grey;
}

.hidden {
   visibility: hidden;
}